/****************** Basic Css ******************/
* {
  box-sizing: border-box;
  font-family: Monda;
}

html,
body {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  background: #000;
  margin: 0%;
}

html {
  scroll-behavior: smooth;
  cursor: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='24px' height='24px' viewBox='0 0 512 512' style='enable-background:new 0 0 512.011 512.011;' xml:space='preserve'%3E %3Cpath fill='DeepSkyBlue' d='M434.215,344.467L92.881,3.134c-4.16-4.171-10.914-4.179-15.085-0.019  c-2.011,2.006-3.139,4.731-3.134,7.571v490.667c0.003,4.382,2.685,8.316,6.763,9.92c4.081,1.603,8.727,0.545,11.712-2.667  l135.509-145.92h198.016c5.891,0.011,10.675-4.757,10.686-10.648C437.353,349.198,436.226,346.473,434.215,344.467z'/%3E %3C/svg%3E"),
    pointer;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.well {
  position: relative;
  /* overflow: hidden; */
  transition: 1s cubic-bezier(0.5, 0, 0.5, 1);
}

.page {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.scroll_down {
  position: relative;
  text-align: center;
  bottom: 70px;
  color: #fff;
  margin: 0%;
  font-size: 1.3rem;
  font-weight: 700;
  z-index: 5;
}

/*********** 3events cards ************/
@import url("https://fonts.googleapis.com/css?family=Exo:700");
@import url("https://fonts.googleapis.com/css?family=Abel");
.eventscards {
  /* -webkit-transform: perspective(900px);
  -webkit-transform-style: preserve-3d; */
  position: relative;
  z-index: 5;
}

.cardss {
  -webkit-transform: perspective(1400px);
  -webkit-transform-style: preserve-3d;
  position: relative;
  z-index: 5;
  display: flex;
  padding-top: 45px;
  justify-content: space-evenly;
  align-items: center;
}

.main2 {
  position: absolute;
  z-index: 0;
}
.title1 {
  width: 100%;
  text-align: center;
}
.title1 h1 {
  font-size: 50px;
  font-family: "revampedregular";
  font-weight: 100;
  margin: 0px;
  padding-top: 80px;
  color: white;
  position: relative;
  text-shadow: 2px 2px 10px aliceblue;
}
.card1 {
  text-align: center;
  position: relative;
  /* left: 15vw; */
  width: 300px;
  height: 400px;
  margin: 10px;
  background: linear-gradient(rgb(225, 150, 58), rgb(227, 144, 91));
  transition: 0.6s;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  transform: rotatex(75deg) translatey(-200px) translatez(-100px);
  box-shadow: 0px 20px 60px rgba(0, 0, 0, 0.5);
}

.addon {
  position: relative;
  z-index: 5;
  display: flex;
  padding-top: 60px;
  justify-content: space-evenly;
  align-items: center;
}
.addon img {
  width: 50px;
  height: 50px;
}

.card1:hover {
  transform: rotatex(0deg);
  transform: rotatez(0deg);
  transition: 0.6s;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  box-shadow: 0px 10px 20px rgb(225, 150, 58);
}
.card1 img {
  transform: translateY(15px);
  width: 160px;
  height: 150px;
}
.cards_heads {
  font-size: 25px;
  font-family: "Abel", sans-serif;
  color: rgb(255, 255, 255);
  text-shadow: 0 0 2px rgb(255, 255, 255);
  transform: translatey(10px);
}

.card_para {
  font-family: "Abel", sans-serif;
  color: white;
  text-align: center;
  width: 250px;
  margin: 0px;
  /* transform: translatex(12px); */
}

.card2 {
  text-align: center;
  position: relative;
  /* left: 43vw; */
  width: 300px;
  height: 400px;
  margin: 10px;
  background: linear-gradient(rgb(93, 94, 170), rgb(93, 66, 103));
  border-radius: 15px;
  animation: animate 1s linear infinite;
  transition: 0.6s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  transform: rotatex(75deg) translatey(-200px) translatez(-100px);
  box-shadow: 0px 20px 60px rgba(0, 0, 0, 0.5);
}
.card2:hover {
  transform: rotatex(0deg);
  transition: 0.6s;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  box-shadow: 0px 10px 20px rgb(93, 94, 170);
}
.card2 img {
  transform: translateY(15px);
  width: 200px;
  height: 180px;
}
.card2 h3 {
  margin: 15px 0px 20px 0px;
}
.card3 {
  text-align: center;
  position: relative;
  /* right: 15vw; */
  width: 300px;
  height: 400px;
  margin: 10px;
  background: linear-gradient(#ff5252, #b33939);
  border-radius: 15px;
  transition: 0.6s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  transform: rotatex(75deg) translatey(-200px) translatez(-100px);
  box-shadow: 0px 20px 60px rgba(0, 0, 0, 0.5);
}
.card3:hover {
  transform: rotatex(0deg);
  transition: 0.6s;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  box-shadow: 0px 10px 20px #b33939;
}
.card3 img {
  transform: translateY(15px);
  width: 230px;
  height: 150px;
}

.registration_page {
  text-decoration: none;
  border-radius: 15px;
  color: aliceblue;
  margin: 20px;
  background-color: rgb(44, 168, 85);
  padding: 8px;
}

.registration_page:hover {
  background-color: aliceblue;
  color: rgb(192, 38, 102);
}

/**** animating addons ****/
.addonimg {
  -webkit-animation: mover 1s infinite alternate;
  animation: mover 1s infinite alternate;
}

.addonimg {
  -webkit-animation: mover 1s infinite alternate;
  animation: mover 1s infinite alternate;
}
@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

/***** Technical Page *****/
.title2 {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title2 h1 {
  font-size: 50px;
  font-family: "revampedregular";
  font-weight: 100;
  margin: 0px;
  padding-top: 65px;
  color: white;
  position: relative;
  text-shadow: 2px 2px 10px aliceblue;
}

.title2 img {
  width: 50px;
  height: 50px;
  margin: 65px 30px 0px 30px;
}

/* 
** Layout, Text & Colors 
*/

p {
  line-height: 1.5;
}

.container110 {
  /* max-width: 900px; */
  /* margin: 0 auto; */
  /* display: flex; */
  position: relative;
  left: calc(100% / 2 - 315px);
  /* display: flex; */
}

.container112 {
  /* max-width: 900px; */
  /* margin: 0 auto; */
  /* display: flex; */
  position: relative;
  left: calc(100% / 2 - 750px);
  /* display: flex; */
}

.container113 {
  /* max-width: 900px; */
  /* margin: 0 auto; */
  /* display: flex; */
  position: relative;
  left: calc(100% / 2 - 500px);
  top: 13vh;

  /* display: flex; */
}

/* Cards */
.card-column {
  /* width: 32%; */
  float: left;
  /* padding: 4%; */
  box-sizing: border-box;
}

.column-2,
.column-1,
.column-0 {
  padding-top: 30px;
}

.card {
  width: 250px;
  max-width: 340px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  background: #eb5160;
  color: #fff;
  cursor: pointer;
  margin: 60px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.border {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 6px;
  border: 1px solid #fff;
  opacity: 0.5;
  border-radius: 15px;
  box-shadow: 3px 3px 10px rgb(0, 136, 255);
}

.card h2 {
  position: relative;
  padding: 130px 0px 10px 0px;
  width: 100%;
  text-align: center;
  margin: 0px;
  font-family: revampedregular;
  font-weight: 100;
  text-shadow: 2px 2px 6px rgb(0, 134, 252);
}
#secline {
  padding: 105px 0px 10px 0px;
}

.card h3 {
  position: relative;
  padding: 5px 0px 10px 0px;
  width: 90px;
  text-align: center;
  margin: 0px;
  background-color: #fff;
  color: #000;
  margin: 10px 0px 20px 0px;
  border-radius: 10px;
}

.card h3:hover {
  background-color: rgb(29, 185, 89);
  color: #fff;
}

.card > img {
  position: absolute;
  top: -6%;
  left: 22%;
}

.card-color-0 {
  background-color: #eb5160;
}

.card-color-1 {
  background-color: #8f3985;
}

.card-color-2 {
  background-color: #8daa91;
}

.card-color-3 {
  background-color: #888da7;
}

/* The cover (expanding background) */
.cover11,
.cover12,
.cover13 {
  position: absolute;
  background: #eb5160;
  z-index: 100;
  transform-origin: 50% 50%;
  overflow: hidden;
  height: 100%;
}

/* The open page content */
.open-content {
  width: 100%;
  z-index: 110;
  position: absolute;
  opacity: 0;
  pointer-events: none;
  display: flex;
  background: #fff;
  margin-left: 5%;
  margin-bottom: 5%;
  width: 90%;
}

.open-content img {
  position: relative;
  width: 50%;
  height: 60%;
  margin-left: 3%;
  margin-top: 80px;
  z-index: 5;
}

.open-content .text {
  /* background: #fff; */
  margin-top: -55%;
  padding: 60% 5% 5% 5%;
  width: 80%;
  margin-left: 0%;
  margin-bottom: 5%;
  font-size: large;
}

.open-content .text h1,
.open-content .text p {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.open-content .text p {
  padding-bottom: 50px;
  font-weight: 500;
}

.open-content .text a {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  background: #4c03ac;
  padding: 15px;
  color: #fff;
  text-decoration: none;
  border-radius: 0px 12px 12px 0px;
  font-size: 1.1rem;
}

.open-content .text a:hover {
  background-color: #ff0062;
}

.open-content .text h1 {
  font-family: revampedregular;
  font-weight: 100;
}

.close-content {
  display: block;
  position: absolute;
  right: 12px;
  top: 12px;
  width: 30px;
  height: 30px;
}

.close-content span {
  background: #222;
  width: 30px;
  height: 6px;
  display: block;
  position: absolute;
  top: 14px;
}

.x-1 {
  transform: rotate(45deg);
}

.x-2 {
  transform: rotate(-45deg);
}

/* 
** Transitions
*/

.card {
  transition: opacity 200ms linear 320ms, transform 200ms ease-out 320ms;
}

.border {
  transition: opacity 200ms linear, transform 200ms ease-out;
}

.card img {
  transition: opacity 200ms linear 0ms, transform 200ms ease-in 0ms;
}

.card h1 {
  transform: translate3d(20%, 0px, 0px);
  transition: opacity 200ms linear 120ms, transform 200ms ease-in 120ms;
}

/* Clicked card */
.card.clicked img {
  transform: translate3d(0px, -40px, 0px);
  opacity: 0;
}

.card.clicked .border {
  opacity: 0;
  transform: scale(1.3);
}

.card.out,
.card.out img {
  transform: translate3d(0px, -40px, 0px);
  opacity: 0;
}

.card.out h1,
.card.clicked h1 {
  transform: translate3d(20%, -40px, 0px);
  opacity: 0;
}

.cover11,
.cover12,
.cover13 {
  transition: transform 300ms ease-in-out;
}

.open-content {
  transition: opacity 200ms linear 0ms;
}

.open-content.open {
  opacity: 1;
  pointer-events: all;
  transition-delay: 1000ms;
}

/* 
** Media Queries
*/

@media screen and (max-width: 600px) {
  .card-column {
    width: 90%;
  }

  .column-1 {
    padding-top: 0px;
  }

  .open-content img {
    margin-top: 40px;
  }
  .open-content {
    flex-direction: column;
  }
}

/*** Non Technical Events ****/

/* The open page content */
.open-content2 {
  width: 100%;
  z-index: 110;
  position: absolute;
  opacity: 0;
  pointer-events: none;
  display: flex;
  background: #fff;
  margin-left: 5%;
  margin-bottom: 5%;
  width: 90%;
}

.open-content2 img {
  position: relative;
  width: 50%;
  height: 60%;
  margin-left: 3%;
  margin-top: 80px;
  z-index: 5;
}

.open-content2 .text2 {
  /* background: #fff; */
  margin-top: -55%;
  padding: 60% 5% 5% 5%;
  width: 80%;
  margin-left: 0%;
  margin-bottom: 5%;
  font-size: large;
}

.open-content2 .text2 h1,
.open-content2 .text2 p {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.open-content2 .text2 p {
  padding-bottom: 50px;
  font-weight: 500;
}

.open-content2 .text2 a {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  background: #4c03ac;
  padding: 15px;
  color: #fff;
  text-decoration: none;
  border-radius: 0px 12px 12px 0px;
  font-size: 1.1rem;
}

.open-content2 .text2 a:hover {
  background-color: #ff0062;
}

.open-content2 .text2 h1 {
  font-family: revampedregular;
  font-weight: 100;
}

.close-content2 {
  display: block;
  position: absolute;
  right: 12px;
  top: 12px;
  width: 30px;
  height: 30px;
}

.close-content2 span {
  background: #222;
  width: 30px;
  height: 6px;
  display: block;
  position: absolute;
  top: 14px;
}

.open-content2 {
  transition: opacity 200ms linear 0ms;
}

.open-content2.open {
  opacity: 1;
  pointer-events: all;
  transition-delay: 1000ms;
}

/* 
** Media Queries
*/

@media screen and (max-width: 600px) {
  .open-content2 img {
    margin-top: 40px;
  }
}

/*** Workshops ****/

/* The open page content */
.open-content3 {
  width: 100%;
  z-index: 110;
  position: absolute;
  opacity: 0;
  pointer-events: none;
  display: flex;
  background: #fff;
  margin-left: 5%;
  margin-bottom: 5%;
  width: 90%;
}

.open-content3 img {
  position: relative;
  width: 50%;
  height: 60%;
  margin-left: 3%;
  margin-top: 80px;
  z-index: 5;
}

.open-content3 .text3 {
  /* background: #fff; */
  margin-top: -55%;
  padding: 60% 5% 5% 5%;
  width: 80%;
  margin-left: 0%;
  margin-bottom: 5%;
  font-size: large;
}

.open-content3 .text3 h1,
.open-content3 .text3 p {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.open-content3 .text3 p {
  padding-bottom: 50px;
  font-weight: 500;
}

.open-content3 .text3 a {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  background: #4c03ac;
  padding: 15px;
  color: #fff;
  text-decoration: none;
  border-radius: 0px 12px 12px 0px;
  font-size: 1.1rem;
}

.open-content3 .text3 a:hover {
  background-color: #ff0062;
}

.open-content3 .text3 h1 {
  font-family: revampedregular;
  font-weight: 100;
}

.close-content3 {
  display: block;
  position: absolute;
  right: 12px;
  top: 12px;
  width: 30px;
  height: 30px;
}

.close-content3 span {
  background: #222;
  width: 30px;
  height: 6px;
  display: block;
  position: absolute;
  top: 14px;
}

.open-content3 {
  transition: opacity 200ms linear 0ms;
}

.open-content3.open {
  opacity: 1;
  pointer-events: all;
  transition-delay: 1000ms;
}

/* 
** Media Queries
*/

@media screen and (max-width: 600px) {
  .open-content3 img {
    margin-top: 40px;
  }
}
